parameters:
  phpVersion: 80000
  level: 8
  #  checkFunctionArgumentTypes: false
  #  inferPrivatePropertyTypeFromConstructor: true
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  paths:
    - ../../src
  excludePaths:
    - ../../src/Infrastructure/EasyAdmin/FieldsFactory/FieldsFactory.php
    - ../../src/Infrastructure/DependencyInjection/Configuration.php

#  symfony:
#    containerXmlPath: var/cache/test/testsSkyeng_MarketingCmsBundle_Tests_KernelTestDebugContainer.xml

#  scanDirectories:
#    - var/cache/test/Symfony/Config
